/* main h2,
.full-item h2,
main p,
.full-item p,
main b,
.full-item b {
    margin: 10px 20px;
    color: #333;
}

main b,
.full-item b {
    color: #646464;
} */

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #bcbcbc;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}
